<div class="devtools-button-container">
    <div class="devtools-lang-switcher">
        <label for="lang">{{ta 'adapt-devtools-lang-switcher'}}</label>
        <select name="lang" id="authoring_lang">
            <option lang="en" value="en" {{#if _langEn}}selected{{/if}}>{{ta 'adapt-devtools-en'}}</option>
            <option lang="fr" value="fr" {{#if _langFr}}selected{{/if}}>{{ta 'adapt-devtools-fr'}}</option>
        </select>
    </div>
    <div class="section-general">
        <span>{{ta 'adapt-devtools-general'}}</span>
    </div>
    <button class="drawer-item show-stats">{{ta 'adapt-devtools-stats' }}</button>
    <div class="drawer-item toggle hinting">
        <input type="checkbox" id="toggle-hinting" />
        <label for="toggle-hinting">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">{{ta 'adapt-devtools-question-hinting'}}</div>
        </label>
    </div>
    <div class="drawer-item toggle auto-correct">
        <input type="checkbox" id="toggle-auto-correct" />
        <label for="toggle-auto-correct">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">{{ta 'adapt-devtools-auto-correct'}}</div>
        </label>
    </div>
    <div class="drawer-item tip auto-correct"><em>{{{ta 'adapt-devtools-auto-correct-tip'}}}</em></div>
    <div class="drawer-item toggle feedback">
        <input type="checkbox" id="toggle-feedback" />
        <label for="toggle-feedback">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">{{ta 'adapt-devtools-tutor'}}</div>
        </label>
    </div>
    <div class="drawer-item toggle alt-text">
        <input type="checkbox" id="toggle-alt-text" />
        <label for="toggle-alt-text">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">{{ta 'adapt-devtools-show-alt-text'}}</div>
        </label>
    </div>
    <button class="drawer-item unlock">{{ta 'adapt-devtools-unlock'}}</button>
    <div>
        <button class="drawer-item open-map"><span>{{ta 'adapt-devtools-course-map'}}</span><span class="devtools-alpha">ALPHA</span></button>
        <button class="drawer-item open-spoor-log"><span>{{{ta 'adapt-devtools-spoor-log'}}}</span></button>
        <div style="clear:both;"></div>
    </div>
    <div class="section-page">
        <span>{{ta 'adapt-devtools-page'}}</span>
    </div>
    <div class="drawer-item toggle banking">
        <input type="checkbox" id="toggle-banking" />
        <label for="toggle-banking">
            <div class="toggle-state">
                <div class="checkbox icon"></div>
            </div>
            <div class="toggle-inner h5">{{{ta 'adapt-devtools-question-banks'}}}</div>
        </label>
    </div>
    <button class="drawer-item end-trickle">{{ta 'adapt-devtools-untrickle'}}</button>
    <button class="drawer-item complete-page">{{ta 'adapt-devtools-complete-page'}}</button>
    <div class="drawer-item tip pass-half-fail"></div>
    <div class="pass-half-fail-container clearfix">
        <button class="drawer-item pass">{{ta 'adapt-devtools-pass'}}</button>
        <button class="drawer-item half">{{ta 'adapt-devtools-half'}}</button>
        <button class="drawer-item fail">{{ta 'adapt-devtools-fail'}}</button>
    </div>
    <div class="section-menu">
        <span>{{ta 'adapt-devtools-menu'}}</span>
    </div>
    <button class="drawer-item complete-menu">{{ta 'adapt-devtools-complete-menu'}}</button>
    <div class="devtools-extended-settings">
        <div class="drawer-item toggle trace-focus">
            <input type="checkbox" id="toggle-trace-focus" />
            <label for="toggle-trace-focus">
                <div class="toggle-state">
                    <div class="checkbox icon"></div>
                </div>
                <div class="toggle-inner h5">{{ta 'adapt-devtools-trace-focus'}}</div>
            </label>
        </div>
    </div>
    <div class="drawer-item tip">{{{ta 'adapt-devtools-dev-tips'}}}</div>
</div>
