<div class="devtools-button-container">
    <div class="section-general">
        <span>{{ta 'adapt-devtools-general'}}</span>
    </div>
    <div class="stats-box">
        <ul>
            <li><span class="stats-type">{{ta 'adapt-devtools-articles'}}:</span> {{_courseStats.articles.total}}</li>
            <li><span class="stats-type">{{ta 'adapt-devtools-blocks'}}:</span> {{_courseStats.blocks.total}}</li>
            <li><span class="stats-type">{{ta 'adapt-devtools-components'}}:</span> {{_courseStats.components.total}}</li>
        </ul>
    </div>
    <div class="section-general">
        <span>{{ta 'adapt-devtools-components'}}</span>
    </div>
    <div class="stats-box">
        <ul>
            {{#each _courseStats.components.details}}
            <li><span class="stats-type">{{tpa 'adapt-devtools-' @key }}:</span> {{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="section-general">
        <span>{{ta 'adapt-devtools-component-types'}}</span>
    </div>
    <div class="stats-box">
        <ul>
            <li><span class="stats-type">{{ta 'adapt-devtools-static'}}:</span> {{_courseStats.static}}</li>
            <li><span class="stats-type">{{ta 'adapt-devtools-interactive'}}:</span> {{_courseStats.interactive}}</li>
        </ul>
    </div>
    <div class="section-general">
        <span>{{ta 'adapt-devtools-a11y-testing'}}</span>
    </div>
    <div class="stats-box">
        <ul>
            <li><span class="stats-type">{{ta 'adapt-devtools-empty-alt'}}:</span> {{_courseStats.noAltText}}</li>
            <li style="margin-bottom: 10px;"><span class="stats-type">{{ta 'adapt-devtools-testing-time'}}:</span> {{ta 'adapt-up-to-business-days' _courseStats}}</li>
            <li><em>{{{ta 'adapt-devtools-disclaimer'}}}</em>
            </li>
        </ul>
    </div>
</div>
